<section class="service_page page_padding">
    <div class="container">
        <div class="row">
            <h3 class="main_heading">Service</h3>
            <div class="col-md-4">
                <div class="service-img">
                    <a [routerLink]="['../about']">
                    <img src="../../assets/images/service1.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-img">
                    <a [routerLink]="['../about']">
                    <img src="../../assets/images/service2.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-img">
                <a [routerLink]="['../about']">
                    <img src="../../assets/images/service3.png" alt="" class="img-fluid">
                </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-img">
                    <a [routerLink]="['../about']">
                        <img src="../../assets/images/service4.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-img">
                    <a [routerLink]="['../about']">
                        <img src="../../assets/images/service5.png" alt="" class="img-fluid">
                     </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-img">
                    <a [routerLink]="['../about']">
                        <img src="../../assets/images/service6.png" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>