.map{
    iframe{
        height: 80vh;
    }
    .map_location{
        display: flex;
        justify-content: space-around;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 75px;
        max-width: 80%;
        a{
            background-color: rgba(134, 157, 169,0.5);
            width: 200px;
            height: 100px; 
            text-align: center;
            color: #fff;
            border-radius: 5px;
            line-height: 100px;
            text-decoration: none;
            &:hover{
            background-color: rgba(13, 59, 84, 0.5);
            transition: all 0.5s;
            }
        }
    }
}

