<section class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26551583.1060136!2d-117.60677586156937!3d35.67306096655437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sin!4v1695294642463!5m2!1sen!2sin" width="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<div class="map_location">
   <a [routerLink]="['../about']" class="active">Clock Tower</a>
   <a [routerLink]="['../about']">Paris</a>
   <a [routerLink]="['../about']">Los Angeles</a>
   <a [routerLink]="['../about']">Stark Tower</a>
</div>

</section>