<div class="about_travel  section_gap">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="image_wrap d-flex gap-3">
                    <img src="../../../assets/images/Group 2407.jpg" alt="">
                    <img src="../../../assets/images/Group 2408.jpg" alt="">
                </div>
            </div>
            <div class="col-md-5">
                <h2 class="main_heading"> {{title}}</h2>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
               
                <button type="button" class="btn btn-primary blue_btn" [routerLink]="['about']">Read</button>
            </div>
        </div>
    </div>
</div>
