<div class="about_page  page_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="image_wrap">
                    <img class="img-fluid"  src="../../../assets/images/about1.png" alt="">
                    <img class="img-fluid" src="../../../assets/images/about-2.png" alt="">
                    <img class="img-fluid" src="../../../assets/images/about-4.png" alt="">    
                    <img class="img-fluid" src="../../../assets/images/about-5.png" alt="">    
                </div>
            </div>
            <div class="col-md-6 about_page_content">
                <div class="location">
                <img src="../../../assets/images/location-on.svg" alt="">
                    <a href="#0">France</a>
                </div>
                <h2 class="main_heading">Travel Overview</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                
                <div class="price">
                <span>Start From</span>
                <h4>$14999</h4>
                </div>
                <button type="button" class="btn btn-primary blue_btn" [routerLink]="['../book']">Book</button>
            </div>
        </div>
    </div>
</div>
