<div class="slider_wrap">
  <div class="container">


    <div class="row">

      <div class="col-md-12 mb-8">
            <h2 class="main_heading text-center">Explore Destination</h2>
      </div>
      <div class="col-md-12 text-center">
        
    <div class="owl-carousel owl-theme">
      <div class="item">
        <img src="../../../assets/images/slide1.jpg" alt="" class="img-fluid">
      </div>
      <div class="item">
        <img src="../../../assets/images/slide3.jpg" alt="" class="img-fluid">
      </div>
      <div class="item">
        <img src="../../../assets/images/slide-3.jpg" alt="" class="img-fluid">
      </div>
      <div class="item">
        <img src="../../../assets/images/slide4.png" alt="" class="img-fluid">
      </div>
      <!-- <div class="item">
        <img src="../../../assets/images/slide5.jpg" alt="" class="img-fluid">
      </div> -->
      <div class="item">
        <img src="../../../assets/images/slide6.jpg" alt="" class="img-fluid">
      </div>
      <div class="item">
        <img src="../../../assets/images/rectangle-81.jpg" alt="" class="img-fluid">
      </div>
      <div class="item">
        <img src="../../../assets/images/rectangle-82.jpg" alt="" class="img-fluid">
      </div>
      <div class="item">
        <img src="../../../assets/images/rectangle-83.jpg" alt="" class="img-fluid">
      </div>
      <div class="item">
        <img src="../../../assets/images/rectangle-84.jpg" alt="" class="img-fluid">
      </div>
      <div class="item">
        <img src="../../../assets/images/rectangle-85.jpg" alt="" class="img-fluid">
      </div>
      <div class="item">
        <img src="../../../assets/images/rectangle-87.jpg" alt="" class="img-fluid">
      </div>
      <div class="item">
        <img src="../../../assets/images/rectangle-88.jpg" alt="" class="img-fluid">
      </div>
      <div class="item">
        <img src="../../../assets/images/rectangle-89.jpg" alt="" class="img-fluid">
      </div>
      <div class="item">
        <img src="../../../assets/images/rectangle-90.jpg" alt="" class="img-fluid">
      </div>
      <div class="item">
        <img src="../../../assets/images/rectangle-90.png" alt="" class="img-fluid">
      </div>
    </div>

    <button type="button" class="btn btn-primary blue_btn" [routerLink]="['book']">Explore</button>
      </div>
    </div>
  </div>
  
</div>
