<p>newheader works!</p>

    <div class="ng-module">
        <h1>ng Module</h1>
        <ul >
          <li>
            <a [routerLink]="['../newhome']">nehome</a>
          </li>
          <li>
            <a [routerLink]="['../github/list']">github</a>
          </li>
          <li>
            <a [routerLink]="['../admin/dashboard']">Admin</a>
          </li>
          <li>
            <a [routerLink]="['../test']">Test</a>
          </li>
          <li>
            <a [routerLink]="['../newabout']">about</a>
          </li>
          <li>
            <a [routerLink]="['../newcontact']">contact</a>
          </li>
        </ul>
      </div>
