<section class="blog page_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="featurd-img">
                    <img src="../../assets/images/blog_img.png" alt="" class="img-fluid">
                    <div class="user-detail">
                        <ul>
                            <li>
                                <h6 class="head">Posted</h6>
                                <span>:   {{date | date:'longDate' }}</span> 
                            </li>
                            <li>
                                <h6 class="head">Admin</h6>
                                <span>:   {{admin}}</span>
                            </li>
                            <li>
                                <h6 class="head">Comment</h6>
                                <span>:   No Coments</span>
                            </li>
                        </ul>
                
                            
                    </div>
                </div>
            </div>
            <div class="col-md-6">
               <div class="blog_detial">
                <h2 class="main_heading">Travel Overview</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry,Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
               </div>
            </div>
        </div>
    </div>
</section>