<section class="login_page custom_form_field page_padding"> 
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="../../assets/images/register.png" alt="" class="img-fluid"> 
            </div>
            <div class="col-md-7">
                <div class="login_form">
                    <h3 class="main_heading">Register to Travel World</h3>
                    <form action="" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
                        <mat-form-field class="form_field">
                            <input matInput placeholder="Full Name" value="" formControlName="fname">
                        </mat-form-field> 
                        <div *ngIf="!loginForm.controls.fname?.valid && (loginForm.controls.fname.dirty||loginForm.controls.fname?.touched)" class="error_msg">
                            Full Name is Required
                        </div>
                                
                        <mat-form-field class="form_field">
                            <input matInput placeholder="Email" value="" formControlName="username">
                        </mat-form-field> 
                        <div *ngIf="!loginForm.controls.username?.valid && (loginForm.controls.username.dirty||loginForm.controls.username?.touched)" class="error_msg">
                            Please Enter valid email id
                        </div>
                                
                        <mat-form-field class="form_field">
                            <input matInput placeholder="Password" value="" formControlName="password">
                        </mat-form-field> 
                        <div *ngIf="!loginForm.controls.password?.valid && (loginForm.controls.password.dirty||loginForm.controls.password?.touched)" class="error_msg">
                            Please Enter atleast 8 char password
                        </div>

                        <mat-form-field class="form_field">
                            <input matInput placeholder="Confirmpassword" value="" formControlName="confirm">
                        </mat-form-field> 

                      
                      
                        <div *ngIf=" loginForm.errors?.['noMatch'] && (loginForm.controls.confirm.dirty||loginForm.controls.confirm?.touched)" class="error_msg">
                            confirm password should match to password
                        </div>


                        <!-- <a [routerLink]="['../register']"  class="forgot_link">Forgot password?</a> -->

                        <div class="agree-terms mb-3 d-flex justify-content-start gap-2 ">
                            <input type="Checkbox" id="agree" formControlName="agree">
                            <label for="agree">I agree to all Terms and Conditions*</label>
                        </div>

                        <button type="submit" [routerLink]="['../']"  [disabled]="!loginForm.valid" (click)="getloginmsgs()" (click)="onSubmit(loginForm)" class="btn btn-primary blue_btn" >Sign Up</button>

                        <div class="success_msg" *ngFor="let loginmsg of loginmsgs">
                            <p>{{loginmsg.loginmsg}}</p>
                        </div>
                    </form>
                    <div class="signup_link">
                        <span>Already have an Account?</span>
                        <a [routerLink]="['../login']">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  